<p><%= "nombre: #{params[:name]}" %></p>
<p><%= "compay: #{params[:company]}" %></p>
<p><%= "email: #{params[:email]}" %></p>
<p><%= "telefono: #{params[:telefono]}" %></p>
<p><%= "mensaje: #{params[:mensaje]}" %></p>
<p><%= "Asunto: #{params[:subject]}" %></p>
<p><%= "#{params[:comment]}" %> </p>
